<div class="row">
	<div class="col-md-6">
		<a class="wolfPics" href="http://www.wolframalpha.com/share/clip?f=d41d8cd98f00b204e9800998ecf8427eudgjb0f8f0">
			<img src="http://www.wolframalpha.com/share/img?i=d41d8cd98f00b204e9800998ecf8427eudgjb0f8f0&amp;f=HBQTQYZYGY4TOM3EMI3WENDEGMYDCNBTME3DIMTDME2GGMRVMIYQaaaa" alt="Taxonomy Horse" />
		</a>
	</div>
	<div class="col-md-6">
		<a class="wolfPics" href="http://www.wolframalpha.com/share/clip?f=d41d8cd98f00b204e9800998ecf8427eb4f8jtsguh">
			<img src="http://www.wolframalpha.com/share/img?i=d41d8cd98f00b204e9800998ecf8427eb4f8jtsguh&amp;f=HBQTQYZYGY4TMM3EMI3WENJVGQYDCNBTME3DGZJUHA2WGMRUGNRQaaaa" alt="Taxonomy Horse" />
		</a>
	</div>
</div>