<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le favicon -->
    <link rel="shortcut icon" type="image/png" href="">
    <!-- own css-->
    <link rel="stylesheet" type="text/css" href="/OffenbacherAnsatz/assets/css/main.css">
  </head>
  <body id="{{ page.id }}">

    {{ content }}

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/OffenbacherAnsatz/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/OffenbacherAnsatz/assets/js/main-ck.js"></script>
  </body>
</html>
